* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background:rgb(234, 238, 243);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* header styles */

header {
  display: flex;
  justify-content: space-between;
  background:rgb(51, 51, 54);
  padding: 10px;
}

header h1 {
  padding: 8px 15px 8px 75px;
  background:rgb(171, 241, 232);
  font-size: 4vh;
  color:rgb(51, 51, 54);
}
 
 header nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-right: 80px;
}

header ul li a {
  text-decoration: none;
  padding: 5px 15px;
  margin: 0 5px;
  font-size: x-large;
  color:rgb(171, 241, 232);
  border-bottom: 3px solid rgb(171, 241, 232);
  
}

header ul li a:hover {
  color:rgb(51, 51, 54);
  text-shadow: 1px 1px 4px rgb(91, 103, 129);
  background: rgb(171, 241, 232);
  border-radius: 15%;
}

/* end header styles */

/* Hero Section Styles */

.hero {
  background-image: url(../assets/images/water-unsplash.jpg);
  background-size: cover;
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero h2 {
  background:rgb(171, 241, 232);
  font-size: 2.8vh;
  color:rgb(51, 51, 54);
  padding: 5px 8px;
  margin: 190px 100px 30px 10px;
}

/* Hero Section Styles End */