* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background:rgb(238, 228, 226);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* header styles */

header {
  display: flex;
  justify-content: space-between;
  background:rgb(51, 51, 54);
  padding: 10px;
}

header h1 {
  padding: 10px 15px 10px 75px;
  background:rgb(171, 241, 232);
  font-size: 4vh;
  color:rgb(51, 51, 54);
}
 
 header nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header ul li a {
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 5px;
  font-size: x-large;
  color:rgb(171, 241, 232);
  border-bottom: 3px solid rgb(171, 241, 232);
}



/* end header styles */