* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background:#95a3b3;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
  --dark: #242038;
  --light: #95a3b3;
  --green: #88d18a;
  --red: #a31621;
  --jungle: #0b5351;
}

/* header styles */

header {
  display: flex;
  justify-content: space-between;
  background:var(--dark);
}

header h1 {
  padding: 8px 15px 8px 75px;
  margin: 10px 0;
  background: var(--green);
  font-size: 40px;
  color: var(--dark);
}
 
 header nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-right: 80px;
}

header ul li a {
  text-decoration: none;
  padding: 5px 15px;
  margin: 0 5px;
  font-size: x-large;
  color:var(--green);
  border-bottom: 4px solid var(--green);
  
}

header ul li a:hover {
  color:var(--dark);
  text-shadow: 1px 1px 4px rgb(91, 103, 129);
  background: var(--green);
  border-radius: 15%;
}

/* end header styles */

/* Hero Section Styles */

.hero {
  background-image: url(../assets/images/swirl.jpeg);
  background-size: cover;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero h2 {
  background:var(--green);
  font-size: 30px;
  color:var(--dark);
  padding: 5px 8px;
  margin: 190px 100px 30px 10px;
}

/* Hero Section Styles End */

/* About Me Section Styles */

.about-me {
  display: flex;
  width: 100%;
  margin: 45px 100px 0 0;
}

.about-me-container {
  display: flex;
  width: 100%;
}

.about-me img {
  display:flex;
  flex: 1 1 20%;
  margin: 0 50px;
  height: 250px;
  width: 250px;
  border: 6px solid var(--green);
}

.about-me p {
  display:flex;
  flex: 1 1 70%;
  line-height: 2;
  margin-right: 50px;
  font-size: 18px;
}

/* About Me Section Styles End */

/* Work Examples Section Styles */

.examples {
  display: flex;
  
  margin: 45px 100px 0 0;
}

.examples .link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 0 80%;
  width: 100%;
}

.examples .large-link {
  border: 10px solid var(--green);
  display: flex;
  background-image: url(../assets/images/run-buddy-shot.png);
  background-size: cover;
  background-color: rgb(11, 83, 81, .5);
  background-blend-mode:soft-light;
  margin: 15px;
  height: 60vh;
  width: 100%;
  text-decoration: none;
}

.examples .large-link:hover {
  background-color:rgb(11, 83, 81, .3);
 
}

.examples .large-link p {
 margin: auto 0 30px 0;
 padding: 15px 10px;
 width: fit-content;
 height: fit-content;
 background-color:var(--green); 
 font-size: xx-large;
 font-weight: bold;
 color: var(--dark);
}

.examples .large-link p span {
  font-size: x-large;
}

.examples .link  {
  border: 6px solid var(--green);
  width: 45%;
  height: 150px;
  display: flex;
  margin: 15px;
  background-image: url(https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo4.jpg);
  background-color:rgb(11, 83, 81, .5);
  background-blend-mode: saturation;
  text-decoration: none;
}

.examples .link:hover {
  background-color: rgb(11, 83, 81, .3);
}


.examples .link p {
  margin-top:auto;
  padding: 15px 10px;
  width: fit-content;
  height: fit-content;
  background-color:var(--green);
  margin-bottom: 25px;
  font-size: x-large;
  font-weight: bold;
  color:var(--dark);
}

/* Work Examples Section Styles End */

/* Contact Me Section Styles */

.contact-me {
  display: flex;
  margin-top: 45px;
}

.contact-info {
  display: flex;
  width: 100%;
}

.contact-info ul  {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  font-size: x-large;
  color:var(--dark);
  text-shadow: 1px 1px 2px #333;
  padding: 40px 0 0 0;
  flex-wrap: wrap;
}

.contact-info ul li a {
 text-decoration: none;
 color:var(--dark);
}

.contact-info ul li {
  margin: 0 25px;
}

/* Contact Me Section Styles End */

/* Footer Styles */

footer {
  display: flex;
  justify-content: space-between;
  background:var(--dark);
  padding: 30px 80px;
  margin-top: 45px;
}

footer h3 {
  font-size: x-large;
  color:var(--green);
  text-shadow: 1px 1px 3px #333;
}

/* Footer Styles End */

/* Utility */
 .title-container {
  display: flex;
  margin-left: 20px;
  font-size: 38px;    
  padding: 0 15px 0 0;
  border-right: 4px solid var(--jungle);
  color:var(--jungle);
  text-align: right;
  text-shadow: 1px 1px 3px #333;
}

/* Utility End */

/* Media Querites */
@media screen and (max-width: 1024px) {
  
  /* Examples Section */
  .examples .link-container {
    flex: 1 0 77%;
  }
  .examples .link {
    width: 100%;
  }
  /* End Examples Section */

  /* Contact Me Section */
  .contact-me ul {
    display: inline-block;
    text-align: right;
    margin: 0 35px;
    padding: 0;
  }

  .contact-me ul li {
    margin: 20px 0;
  }
  /* Contact Me Section End */
}

@media screen and (max-width: 768px) {
  
  /* Header Section */
  header {
    justify-content: center;
    flex-wrap: wrap;
    height: 175px;
  }

  header h1 {
    display: flex;
    padding: 8px 15px;
    width: 300px;
    justify-content: center;
    align-items: center;
  }

  header nav ul {
    margin: auto 0;
  }
  /* Header Section End */

  /* Hero Section */
  .hero h2 {
    margin-right: 50px;
  }
  /* Hero Section End */

  /* About Me Section */
  .about-me-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-me .photo {
    justify-content: center;
  }

  .about-me p {
    margin: 25px;
  }
  /* About Me Section End */

  /* Examples Section */
  .examples .link-container {
    flex: 1 0 70%;
  }
  
  .link-container .large-link {
    height: 400px;
  }
  /*Examples Section End */
}

@media screen and (max-width: 576px) {
  /* Title */
  .title-container {
    width: 85%;
    justify-content: center;
    text-align: center;
    border-right: 0;
    border-bottom: 4px solid var(--jungle);
    padding: 0;
    margin: 0 auto 50px auto;
    
  }
  /* Title End */

  /* Header Section */
  header nav ul a {
    border-bottom: 0;
  }
  /* Header Section End */

  /* About Me */
  .about-me {
    flex-direction: column;
  }
  
  .about-me p {
    line-height: 2;
    margin: 25px 35px;
    font-size: large;
  }
  /* About Me End */

  /* Examples */
  .examples {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .examples .link-container {
    justify-content: center;
    margin: 0;
  }

  .examples .large-link {
    margin: 0 15px;
  }
  /* Examples End */

  /* Contact Me */
  .contact-me {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .contact-me ul {
    padding: 0;
    text-align: center;
  }
  /* Contact Me End  */

  /* Footer */
  footer {
    display: block;
    text-align: center;
  }
  /* Footer End */
}