* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background:rgb(234, 238, 243);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* header styles */

header {
  display: flex;
  justify-content: space-between;
  background:rgb(51, 51, 54);
}

header h1 {
  padding: 8px 15px 8px 75px;
  margin: 10px 0;
  background:rgb(171, 241, 232);
  font-size: 4vh;
  color:rgb(51, 51, 54);
}
 
 header nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-right: 80px;
}

header ul li a {
  text-decoration: none;
  padding: 5px 15px;
  margin: 0 5px;
  font-size: x-large;
  color:rgb(171, 241, 232);
  border-bottom: 4px solid rgb(171, 241, 232);
  
}

header ul li a:hover {
  color:rgb(51, 51, 54);
  text-shadow: 1px 1px 4px rgb(91, 103, 129);
  background: rgb(171, 241, 232);
  border-radius: 15%;
}

/* end header styles */

/* Hero Section Styles */

.hero {
  background-image: url(../assets/images/water-unsplash.jpg);
  background-size: cover;
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero h2 {
  background:rgb(171, 241, 232);
  font-size: 2.8vh;
  color:rgb(51, 51, 54);
  padding: 5px 8px;
  margin: 190px 100px 30px 10px;
}

/* Hero Section Styles End */

/* About Me Section Styles */

.about-me {
  display: flex;
  margin: 45px 100px 0 0;
  

  
}

.about-me .title-container {
  display: flex;
  flex: 1 1 10%;
}

.about-me .photo {
  display:flex;
  flex: 1 1 20%;
  margin: 0 25px;
}

.about-me p {
  display:flex;
  flex: 1 1 70%;
  line-height: 1.5;
}

/* .about-me h2 {
  text-align: right;
  font-size: 4vh;
  margin: 0 45px 0 6vw;
  padding: 0 15px 0 0;
  border-right: 4px solid rgb(69, 81, 133);
  color:rgb(69, 81, 133)
} */

/* About Me Section Styles End */

/* Work Examples Section Styles */

.examples {
  display: flex;
  
  margin: 45px 100px 0 0;
}

.examples .title-container {
  display: flex;
  flex: 1 1 10%;
}

.examples .link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 0 90%;
  
}

.examples .large-link {
  border: 10px solid rgb(171, 241, 232);
  display: flex;
  flex-wrap: wrap;
  background-image: url(../assets/images/run-buddy-shot.png);
  background-size: cover;
  background-color: rgb(69, 81, 133, .5);
  background-blend-mode:saturation;
  margin: 15px;
  height: 60vh;
  width: 85vw;
  text-decoration: none;
}

.examples .large-link:hover {
  background-color:rgb(69, 81, 133, .3);
 
}

.examples .large-link p {
 margin: auto 0 30px 0;
 padding: 15px 10px;
 width: 25%;
 height: 15%;
 background-color:rgb(171, 241, 232); 
 font-size: xx-large;
 font-weight: bold;
 color: rgb(51, 51, 54);
}

.examples .large-link p span {
  font-size: x-large;
}

.examples .link  {
  border: 6px solid rgb(171, 241, 232);
  width: 45%;
  min-height: 250px;
  display: flex;
  margin: 15px;
  background-image: url(https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo4.jpg);
  background-color:rgb(69, 81, 133, .5);
  background-blend-mode: saturation;
  text-decoration: none;
}

.examples .link:hover {
  background-color: rgb(69, 81, 133, .3);
}


.examples .link p {
  margin-top:auto;
  padding: 15px 10px;
  width: 25%;
  height: 30%;
  background-color:rgb(171, 241, 232);
  margin-bottom: 25px;
  font-size: x-large;
  font-weight: bold;
  color:rgb(51, 51, 54);
}

/* Work Examples Section Styles End */

/* Contact Me Section Styles */

.contact-me {
  display: flex;
  margin-top: 45px;
}

.contact-info {
  display: flex;
  width: 100%;
}

.contact-info ul  {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  font-size: x-large;
  color:rgb(51, 51, 54);
  padding: 40px;
  margin: 40px;
}

.contact-info ul li a {
 text-decoration: none;
 color:rgb(51, 51, 54);
}

/* Contact Me Section Styles End */

/* Footer Styles */

footer {
  display: flex;
  justify-content: space-between;
  background:rgb(51, 51, 54);
  padding: 30px 80px;
  margin-top: 45px;
}

footer h3 {
  font-size: x-large;
  color:rgb(171, 241, 232);
}

/* Footer Styles End */

/* Utility */
 .title-container {
  display: flex;
  /* justify-content: flex-start; */
  /* margin: 0 45px 0 6vw; */
  font-size: 4vh;    
  /* padding: 0 15px 0 0; */
  border-right: 4px solid rgb(69, 81, 133);
  color:rgb(69, 81, 133);
  text-align: right;
  width:min-content;
}

/* Utility End */